In [1]:
import wrds
import pandas as pd

In [2]:
conn = wrds.Connection()

Enter your WRDS username [senior]: ctyy
Enter your password: ·············

WRDS recommends setting up a .pgpass file.

Create .pgpass file now [y/n]?:  y

Created .pgpass file successfully.
Loading library list...
Done

In [3]:
conn.list_libraries().sort()
conn.list_libraries()

['aha',
 'aha_sample',
 'ahasamp',
 'audit',
 'auditsmp',
 'auditsmp_all',
 'bank',
 'blab',
 'block',
 'block_all',
 'boardex',
 'boardex_trial',
 'boardsmp',
 'bvd',
 'bvdsamp',
 'calcbench_trial',
 'calcbnch',
 'cboe',
 'cboe_all',
 'centris',
 'ciq',
 'ciq_capstrct',
 'ciq_common',
 'ciqsamp',
 'ciqsamp_common',
 'ciqsamp_transcripts',
 'cisdm',
 'cisdmsmp',
 'clrvt',
 'clrvtsmp',
 'columnar',
 'comp',
 'comp_bank',
 'comp_bank_daily',
 'comp_execucomp',
 'comp_global',
 'comp_global_daily',
 'comp_na_annual_all',
 'comp_na_daily_all',
 'comp_na_monthly_all',
 'comp_segments_hist',
 'comp_segments_hist_daily',
 'compa',
 'compb',
 'compbd',
 'compdcur',
 'compg',
 'compgd',
 'comph',
 'compm',
 'compmcur',
 'compnad',
 'compsamp',
 'compsamp_all',
 'compsamp_snapshot',
 'compseg',
 'compsegd',
 'compsnap',
 'comscore',
 'contrib',
 'contrib_ceo_turnover',
 'contrib_char_returns',
 'contrib_general',
 'contrib_intangible_value',
 'contrib_kpss',
 'contrib_liva',
 'contrib_shale',
 'crsp',
 'crsp_a_stock',
 'crsp_q_indexhist',
 'crsp_q_mutualfunds',
 'crspa',
 'crspm',
 'crspq',
 'crspsamp',
 'csmar',
 'cusipm',
 'custom_jl',
 'dealscan',
 'djones',
 'djones_all',
 'dmef',
 'dmef_all',
 'doe',
 'doe_all',
 'emdb',
 'estimize',
 'etfg',
 'etfg_samp',
 'etfgsamp',
 'eureka',
 'eurekahedge_sample',
 'eursamp',
 'eventus',
 'evts',
 'execcomp',
 'factsamp_all',
 'factsamp_revere',
 'factset',
 'ff',
 'ff_all',
 'fisd',
 'fisd_common',
 'fisd_fisd',
 'fisd_naic',
 'fisdsamp',
 'fjc',
 'fjc_linking',
 'fjc_litigation',
 'frb',
 'frb_all',
 'fssamp',
 'ftse',
 'ftsesamp',
 'ginsight',
 'gmi',
 'govpx',
 'govpxsmp',
 'hbase',
 'hbase_sample',
 'hbsamp',
 'hfr',
 'hfrsamp',
 'hfrsamp_hfrdb',
 'ibes',
 'ibescorp',
 'ibeskpi',
 'ifgr',
 'ifgrsamp',
 'ims',
 'ims_obp_trial',
 'imssamp',
 'infogroupsamp_business',
 'infogroupsamp_residential',
 'iri',
 'iss',
 'issm',
 'kld',
 'ktmine',
 'ktmine_patents_samp',
 'ktsamp',
 'levin',
 'lspd',
 'lspdsamp',
 'lvnsamp',
 'lvnsamp_all',
 'macrofin',
 'macrofin_comm_trade',
 'markit',
 'mfl',
 'midas',
 'mrktsamp',
 'mrktsamp_cds',
 'mrktsamp_cdx',
 'mrktsamp_msf',
 'msfanly',
 'msfinst',
 'msrb',
 'msrb_all',
 'msrbsamp',
 'nastraq',
 'omtrial',
 'optionm',
 'optionm_all',
 'optionmsamp_europe',
 'optionmsamp_us',
 'otc',
 'otc_endofday',
 'pacap',
 'phlx',
 'phlx_all',
 'pitchbk',
 'pitchsmp',
 'ppublica',
 'ppubsamp',
 'ppubsamp_d4d',
 'preqin',
 'preqsamp',
 'preqsamp_all',
 'public',
 'public_all',
 'pwt',
 'pwt_all',
 'ravenpack_trial',
 'rent',
 'reprisk',
 'reprisk_sample',
 'repsamp',
 'revere',
 'risk',
 'risksamp',
 'risksamp_all',
 'rpa',
 'rpna',
 'rpnasamp',
 'rq_all',
 'sdc',
 'sdcsamp',
 'secsamp',
 'secsamp_all',
 'snapsamp',
 'snl',
 'snlsamp',
 'snlsamp_fig',
 'sprat',
 'sustain',
 'sustainalyticssamp_all',
 'sustsamp',
 'taq',
 'taqmsamp',
 'taqmsamp_all',
 'taqmsec',
 'taqsamp',
 'tass',
 'tfn',
 'totalq',
 'totalq_all',
 'toyo',
 'toyosamp',
 'toyosamp_all',
 'tr_ds',
 'trace',
 'trace_enhanced',
 'trace_standard',
 'trcstsmp',
 'trdssamp',
 'trdstrm',
 'tresg',
 'tresgsmp',
 'trown',
 'trsamp',
 'trsamp_ds_eq',
 'trsamp_dscom',
 'trsamp_dsecon',
 'trsamp_dsfut',
 'trsdcgs',
 'trucost',
 'trws',
 'twoiq',
 'twoiq_samp',
 'twoiqsmp',
 'wappsamp',
 'wcai',
 'wind',
 'windsmp',
 'wqa',
 'wrds_lib_internal',
 'wrdsapps',
 'wrdsapps_bondret',
 'wrdsapps_eushort',
 'wrdsapps_finratio',
 'wrdsapps_link_comp_eushort',
 'wrdsapps_link_crsp_bond',
 'wrdsapps_link_crsp_factset',
 'wrdsapps_link_crsp_optionm',
 'wrdsapps_link_crsp_taq',
 'wrdsapps_link_datastream_wscope',
 'wrdsapps_patents',
 'wrdsapps_subsidiary',
 'wrdsapps_windices',
 'wrdsappssamp_all',
 'wrdsrpts',
 'wrdsrpts_rep_usage',
 'wrdssec',
 'wrdssec_midas',
 'zacks',
 'zacksamp',
 'zacksamp_all']

In [7]:
# 通常財務資料都在comp抓 也可以去wharton的網站看
# comp應該是屬於全部comp的都抓 像comp_na_daily_all只有包含daily的 雖然不確定真正差異在哪
conn.list_tables(library='comp_na_daily_all')

['aco_amda',
 'aco_imda',
 'aco_indfnta',
 'aco_indfntq',
 'aco_indfntytd',
 'aco_indsta',
 'aco_indstq',
 'aco_indstytd',
 'aco_notesa',
 'aco_notesq',
 'aco_notessa',
 'aco_notesytd',
 'aco_pnfnda',
 'aco_pnfndq',
 'aco_pnfndytd',
 'aco_pnfnta',
 'aco_pnfntq',
 'aco_pnfntytd',
 'aco_transa',
 'aco_transq',
 'aco_transsa',
 'aco_transytd',
 'adsprate',
 'asec_amda',
 'asec_imda',
 'asec_notesa',
 'asec_notesq',
 'asec_transa',
 'asec_transq',
 'chars',
 'co_aacctchg',
 'co_aaudit',
 'co_adesind',
 'co_adjfact',
 'co_afnd1',
 'co_afnd2',
 'co_afnddc1',
 'co_afnddc2',
 'co_afntind1',
 'co_afntind2',
 'co_ainvval',
 'co_amkt',
 'co_busdescl',
 'co_cotype',
 'co_filedate',
 'co_fortune',
 'co_hgic',
 'co_iacctchg',
 'co_iaudit',
 'co_idesind',
 'co_ifndq',
 'co_ifndsa',
 'co_ifndytd',
 'co_ifntq',
 'co_ifntsa',
 'co_ifntytd',
 'co_imkt',
 'co_industry',
 'co_ipcd',
 'co_mthly',
 'co_offtitl',
 'company',
 'currency',
 'dd_group',
 'dd_group_xref',
 'dd_item',
 'dd_package',
 'ecind_desc',
 'ecind_mth',
 'exrt_dly',
 'exrt_mth',
 'funda',
 'funda_fncd',
 'fundq',
 'fundq_fncd',
 'idx_ann',
 'idx_anndes',
 'idx_daily',
 'idx_index',
 'idx_mth',
 'idx_qrt',
 'idx_qrtdes',
 'idxcst_his',
 'io_qaggregate',
 'io_qbuysell',
 'io_qchanges',
 'io_qfloatadj',
 'io_qholders',
 'it_mbuysell',
 'it_msummary',
 'it_r_rltn',
 'names',
 'names_aco_indsta',
 'names_aco_indstq',
 'names_aco_pnfnda',
 'names_aco_pnfndq',
 'names_adsprate',
 'names_ix',
 'names_ix_cst',
 'names_seg',
 'namesd',
 'namesm',
 'namesq',
 'r_accstd',
 'r_acqmeth',
 'r_auditors',
 'r_auopic',
 'r_balpres',
 'r_cf_formt',
 'r_co_status',
 'r_coindpre',
 'r_compstat',
 'r_consol',
 'r_country',
 'r_cstclscd',
 'r_datacode',
 'r_datafmt',
 'r_divtaxmarker',
 'r_docsrce',
 'r_ex_codes',
 'r_exchgtier',
 'r_exrt_typ',
 'r_fndfntcd',
 'r_footnts',
 'r_foricd',
 'r_giccd',
 'r_hcalendr',
 'r_idxclscd',
 'r_inactvcd',
 'r_incstats',
 'r_indfmt',
 'r_indsec',
 'r_invval',
 'r_issuetyp',
 'r_majidxcl',
 'r_mic_codes',
 'r_naiccd',
 'r_notetype',
 'r_ntsubtype',
 'r_offcrso',
 'r_ogmethod',
 'r_opinions',
 'r_prc_stat',
 'r_qsrcdoc',
 'r_sec_stat',
 'r_secannfn',
 'r_sectors',
 'r_siccd',
 'r_spiicd',
 'r_spmicd',
 'r_statalrt',
 'r_states',
 'r_stko',
 'r_titles',
 'r_updates',
 'sec_adesind',
 'sec_adjfact',
 'sec_afnd',
 'sec_afnddc',
 'sec_afnt',
 'sec_divid',
 'sec_dprc',
 'sec_dtrt',
 'sec_history',
 'sec_idesind',
 'sec_ifnd',
 'sec_ifnt',
 'sec_mdivfn',
 'sec_mshare',
 'sec_msptfn',
 'sec_mth',
 'sec_mthdiv',
 'sec_mthprc',
 'sec_mthspt',
 'sec_mthtrt',
 'sec_shortint',
 'sec_spind',
 'sec_split',
 'secd',
 'secm',
 'security',
 'sedolgvkey',
 'seg_ann',
 'seg_annfund',
 'seg_customer',
 'seg_geo',
 'seg_naics',
 'seg_product',
 'seg_type',
 'spidx_cst',
 'spind',
 'spind_dly',
 'spind_mth',
 'wrds_seg_customer',
 'wrds_seg_geo',
 'wrds_seg_product',
 'wrds_segmerged',
 'xfl_column',
 'xfl_table']

In [5]:
# Extract first 5 obs from comp.company

company = conn.get_table(library='comp', table='co_afnd1', obs=5)
company

,gvkey,indfmt,datafmt,consol,popsrc,acchg,accli,acco,accrt,acdo,...,lrv,ls,lse,lst,lt,ltdch,ltdlch,ltlo,lul3,datadate
0,001000,INDL,STD,C,D,None,None,None,None,None,...,None,None,NaN,None,NaN,None,None,None,None,1961-12-31
1,001000,INDL,STD,C,D,None,None,None,None,None,...,None,None,NaN,None,NaN,None,None,None,None,1962-12-31
2,001000,INDL,STD,C,D,None,None,None,None,None,...,None,None,NaN,None,0.345,None,None,None,None,1963-12-31
3,001000,INDL,STD,C,D,None,None,None,None,None,...,None,None,1.416,None,0.809,None,None,None,None,1964-12-31
4,001000,INDL,STD,C,D,None,None,None,None,None,...,None,None,2.310,None,1.818,None,None,None,None,1965-12-31

In [8]:
query = """
select a.at, a.ebit, b.ni, b.oancf, b.opeps, b.teq, b.xrd, c.sic, c.tic, d.conml, a.gvkey, a.datadate

from comp.co_afnd1 a
inner join comp.co_afnd2 b
on a.gvkey = b.gvkey
and a.datadate = b.datadate

inner join comp.namesq c
on a.gvkey = c.gvkey

inner join comp.company d
on a.gvkey = d.gvkey

WHERE a.datadate>='01/01/2010'
and a.datadate<='12/31/2020'
and c.sic like '737%%'
and b.xrd is not null
and b.xrd > 0
and a.ebit is not null

"""
df_sql = conn.raw_sql(query)
df_sql

,at,ebit,ni,oancf,opeps,teq,xrd,sic,tic,conml,gvkey,datadate
0,2447.200,134.800,58.000,246.800,0.54,1473.500,457.500,7370,ADSK,AUTODESK INC,001878,2010-01-31
1,97.175,7.979,5.704,-1.876,0.25,72.280,6.722,7372,AMSWA,American Software Inc,001562,2010-04-30
2,104.832,9.412,7.364,3.066,0.29,74.056,7.388,7372,AMSWA,American Software Inc,001562,2011-04-30
3,116.553,16.168,11.343,16.281,0.43,83.030,8.226,7372,AMSWA,American Software Inc,001562,2012-04-30
4,113.070,13.784,10.411,19.128,0.38,83.244,8.882,7372,AMSWA,American Software Inc,001562,2013-04-30
...,...,...,...,...,...,...,...,...,...,...,...,...
5445,43.833,1.911,1.936,3.236,0.03,32.666,0.027,7372,ARBK,Argo Blockchain Plc,327832,2020-12-31
5446,1012.720,-358.088,-348.535,-176.558,-1.26,391.717,105.160,7370,SNOW,Snowflake Inc,339965,2020-01-31
5447,4.813,-8.396,-10.684,-4.483,-0.83,2.074,2.742,7372,IDAI,T Stamp Inc,345764,2020-12-31
5448,108.754,38.322,16.851,33.588,0.79,59.574,3.434,7370,KARO,Karooooo Ltd,347085,2019-02-28
5449,117.551,43.570,18.467,57.412,0.86,78.047,2.862,7370,KARO,Karooooo Ltd,347085,2020-02-29

#Get Company Annual Item(AL)

In [11]:
df_sql = conn.raw_sql("""select gvkey, ebit ,act, datadate from comp.co_afnd1 WHERE gvkey = '001690'""")#gvkey 001690 = AAPL
df_sql.head()
# df_sql.to_csv("AL_gvkey001690_Company Annual Item.csv",index=False)

    gvkey     ebit      act    datadate
0  001690   23.586   54.106  1980-09-30
1  001690      NaN      NaN  2021-09-30
2  001690   66.143  227.104  1981-09-30
3  001690  102.209  317.075  1982-09-30
4  001690  129.639  468.993  1983-09-30

#Get Company Annual Item(MZ)(費用、收入)

In [12]:
#xrd = Research and Development Expense
df_sql = conn.raw_sql("""select gvkey, xrd, datadate from comp.co_afnd2 WHERE gvkey = '001690'""")#gvkey 001690 = AAPL
df_sql.head()
# df_sql.to_csv("MZ_gvkey001690_Company Annual Item.csv",index=False)

    gvkey     xrd    datadate
0  001690     NaN  2021-09-30
1  001690  60.040  1983-09-30
2  001690  71.136  1984-09-30
3  001690     NaN  2014-09-30
4  001690   7.282  1980-09-30